<style>
  @import url('/css/post-content.css');
  @import url('/css/code.css');
  @import url('/css/about.css');
</style>

<div class="content">
  <mdui-card variant="elevated" class="about-header">
    <mdui-avatar src="/img/avatar.png" class="about-avatar"></mdui-avatar>
    <div class="about-title"><%= config.title %></div>
    <div class="about-description"><%= config.description %></div>
  </mdui-card>
  <hr>
  <%- page.content %>
  <hr>
</div>

<script src="/js/code.js"></script>
<script>
  const posts = document.querySelector('.navigation-drawer-list-about');
  posts.active = true;
</script>
