.content .post-header {
    margin-bottom: 16px;
    background-color: rgb(var(--mdui-color-secondary-container));
    width: 100%;
    padding: 32px;
}

.content .post-header-title {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 40px;
    color: rgb(var(--mdui-color-on-secondary-container));
}

@media (max-width: 600px) {
    .content .post-header-title {
        font-size: 56px;
    }
}

@media (max-width: 400px) {
    .content .post-header-title {
        font-size: 48px;
    }
}

.content .post-header-date {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(var(--mdui-color-on-tertiary-container));
}

.content .post-header-date .post-header-date-icon {
    font-size: 16px;
    color: rgb(var(--mdui-color-on-tertiary-container));
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.content h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 56px;
    margin-bottom: 16px;
    color: rgb(var(--mdui-color-primary));
}

.content h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 16px;
    color: rgb(var(--mdui-color-primary))
}

.content h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 16px;
    color: rgb(var(--mdui-color-primary));
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.content a {
    text-decoration: underline dashed;
    color: rgb(var(--mdui-color-primary));
    visited {
        color: var(--mdui-color-primary);
    }
}

.content > * {
    margin: 16px 0 8px 0;
}

.content hr {
    display: block;
    border: none;
    height: 8px; /* 与 SVG 高度一致 */
    width: 100%;
    margin: 32px 0;

    /* 2. 注入 MDUI 动态颜色 */
    background-color: rgb(var(--mdui-color-tertiary));

    /* 3. 应用波浪遮罩 */
    -webkit-mask-image: url('/icon/hr.svg');
    mask-image: url('/icon/hr.svg');
    
    /* 4. 让波浪水平平铺 */
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    
    /* 5. 控制波浪的大小（可选） */
    /*-webkit-mask-size: 20px 8px;*/
    mask-size: auto 8px;
}

.content > table{
    border-spacing: 0;
    border: 1px solid rgb(var(--mdui-color-outline));
    border-radius: 24px;
    width: 100%;
    color: inherit;
    font-size: 14px;
    overflow: hidden;
}

.content > table th {
    padding: 8px 16px;
    background-color: rgb(var(--mdui-color-secondary-container));
    border: 0;
    color: rgb(var(--mdui-color-on-secondary-container));
}

.content > table th:not(:last-of-type) {
    border-right: 1px solid rgb(var(--mdui-color-outline));
}

.content > table tr > th {
    border-bottom: 1px solid rgb(var(--mdui-color-outline));
}

.content > table td {
    border: 0;
    padding: 8px 16px;
    color: inherit;
}

.content > table td:not(:last-of-type) {
    border-right: 1px solid rgb(var(--mdui-color-outline));
}

.content > table tr:not(:last-of-type) > td {
    border-bottom: 1px solid rgb(var(--mdui-color-outline));
}

.comment-block {
    display: flex;
    align-items: flex-start;
    margin: 24px 0;
}

.comment-block .comment-avatar {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    background-color: rgb(var(--mdui-color-secondary-container));
}

.comment-block .comment-right-area {
    flex: 1;
}

.comment-block .comment-nick-name {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 8px 0;
    color: rgb(var(--mdui-color-tertiary));
}

.comment-block p {
    margin: 2px 0;
}

.comment-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}